<ion-view view-title="Contatos" ng-controller="ContatosCtrl">
  <ion-content class="custom-background" data-tap-disabled="true">
	    <div class="Grid custom-bg-contatos">
		    <div class="Grid-cell">
			    <label>
					Estamos na Reta da Penha, Vitória/ES
				</label>
				<p>
					<strong>Telefone:</strong><a href="tel:+55 27 3227-9084">+55 27 3227-9084</a><br/>
					<strong>Suporte:</strong><a href="tel:+55 27 3026-0298">+55 27 3026-0298</a><br/>
					<strong>Celular:</strong><a href="tel:+55 27 99291-1345">+55 27 99291-1345 (TIM)</a>
					<br/><br/>
					<strong>Ha mais de 10 anos com sede própria</strong><br/>
							Avenida Nossa Senhora da Penha, n367<br/>
							Ed. Monte Sernio, sala 303 - Santa Lúcia<br/>
							Vitória - Espírito Santo - CEP. 29055-131<br/>
							<span>(Ao lado do Bradesco, em frente ao Shopping Boulevard)</span><br/>
				</p>			
			  	<button class="button button-outline button-block" ng-click="goToOrcamento()"><i class="icon ion-paper-airplane"></i>Peça um orçamento e receba no mesmo dia</button>
		  	</div>
	  	</div>
	  	<div id="map" >
            <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="options">
		        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
		        </ui-gmap-marker>
		    </ui-gmap-google-map>
        </div>

  </ion-content>
</ion-view>






