<ion-view view-title="Opiniões Clientes" class="custom-opinioes">
  	<ion-content scroll="false">
	  <ion-slides  options="options" slider="data.slider">
	    <ion-slide-page class="custom-background">
		    <div>
			    <h4>
			    	Vinicius Rossoni
				</h4>
			    <p>
					Logo no início da crise econômica precisávamos de um SOCORRO, pois nossas metas de vendas estavam despencando e foi quando decidimos procurar uma agência de Marketing Digital e encontramos a Fbrandão e assim foi feito um planejamento de consultoria que hj resulta em um sensacional sucesso para nossa empresa. Agradecemos a Deus em primeiro e em segundo toda equipe da Fbrandão que nos deu todo esse suporte e fez que nossa empresa ser a referência em nossa capital no segmento que atuamos. Estamos muitos orgulhosos!				
			    </p>
			    <a href="http://www.sofaclean-es.com.br">
			    	<img src="img/logo_cliente_02.png">
		    	</a>
		    </div>
	  	</ion-slide-page>
		<ion-slide-page class="custom-background">
		    <div>
			    <h4>
			    	Bruno Zorzaneli
				</h4>
				<p>
					Recomendo a Agência Fbrandao como referência em serviços de Internet. 
					Contratei serviços de WebSite,  Adwords, SEO,  Facebook Ads. Em 3 meses, meu site está em evidência com várias palavras chaves, principais aos meus
					serviços e produtos. A pesquisa orgânica é um diferencial único para comércio online. 
					Através do adwords, conseguimos com um baixo custo, estar sempre em evidência nas primeiras posições. 
					Nossa empresa também utiliza propaganda através do Facebook, muito bem estruturada, com grande aceitação e retorno. 
					Graças a Agência Fbrandao, nosso negócio se fez possível. Recomendo sempre.
			    </p>
			    <a href="http://www.zorzaneli.com.br">
			    	<img src="img/logo_cliente_03.png">
		    	</a>
	    	</div>
	  	</ion-slide-page>
	  	<ion-slide-page class="custom-background">
		    <div>
			    <h4>
					Ivaldo Freitas
				</h4>
				<p>
					A agência FBrandão é uma excelente empresa de comunicação, com forte e destacada atuação no mercado empresarial, sobretudo pela criação de marcas de valor capixaba.  Contratamos os serviços da agência para modernizar a logomarca de nossa empresa, e, por consequência, a confecção de toda a papelaria e o site institucional. Ficamos muito satisfeitos com todo o trabalho desenvolvido e, na oportunidade, agradecemos toda a atenção e dedicação da equipe da agência FBrandão. Parabéns!
				</p>
		    	<img src="img/logo_cliente_01.png">
	    	</div>
	  	</ion-slide-page>
  	</ion-slides>
  </ion-content>
</ion-view>