<ion-view view-title="Portifólio" class="custom">
  <ion-content class="custom-background" data-tap-disabled="true">
	    <div style="text-align: center; padding-top: 30%;">
	    	<a href="http://fbrandao.com.br/sites.php"><img src="img/maintenance-icon.png" style="width: 50%;"></a>
	    </div>
	    <div style="text-align: center;">
	    	<label style="color: white; font-size: 35px; font-family: customFont">EM CONSTRUÇÃO</label>
	    </div>
	    <div style="text-align: center;">
	    	<label style="color: white; font-size: 16px;">
	    		<a href="http://fbrandao.com.br/sites.php">	    		
	    			<button ion-button block style="font-family: customFont; border: none;">Clique aqui, acesse nosso site e veja nosso Portifólio On-Line</button>
    			</a>
	    	</label>
	    </div>
  </ion-content>
</ion-view>

<!-- <ion-view view-title="Portifólio" class="custom">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="portifolio in portifolios" href="#/menu/portifolios/{{portifolio}}">
        {{portifolio.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view> -->
