<div ng-controller="ServicosCtrl"> 
	<div ng-show="sites">
		<ion-view view-title="{{servicoSelecionado.title}}" class="custom-bg-home-view-02">
		  <ion-content>
		    <div>
			    <h4>
			    	Website e e-Commerce Mobile
			    </h4>
			    <p>
				  	Você não possui um <b><italic>Website</italic></b> ou está desatualizado, antigo e sem recursos
				    <b><italic>Mobile</italic></b> para celular? Aqui na <b>Fbrandão</b> todos os nossos projetos
				    já saem com os melhores recursos que existem. Desenvolvemos em sistema limpo,
				    programação de TAGs para que seja achado pelo Google, recursos Mobile/Responsivo para que seja
				    aberto como um aplicativo em um Smartphone e muito mais. Temos o produto ideal para você.
				    Ajustaremos o orçamento de acordo com suas necessidades. Nosso <b><italic>e-Commerce</italic></b> ou
				    <b><italic>Loja Virtual</italic></b> é o mais completo do mercado, com o melhor custo. Sua loja é entregue
				    com 3 formas de pagamento, integração com os Correios, Layout Mobile, e muitos outros recursos
				    só encontrados em grandes Lojas. E ainda, temos um novo e incrível produto, o <b><italic>Landing Site
				    Fbrandão</italic></b>. Um  Projeto que criamos exclusivamente para atender um mercado especial, de
				    custo reduzido, baixo investimento e rápida entrega. Apenas 5 dias! Consulte nossos consultores
				    no Chat!
			    </p>
			    <img class="full-image" src="img/image_home_view_02.png">
			</div>
		  </ion-content>
		</ion-view>
	</div>
	<div ng-show="hospedagens">
		<ion-view view-title="{{servicoSelecionado.title}}">
		  <ion-content>
		  	<div class="custom-div">
			    <h4>
			    	Registro do domínio <br/>e hospedagem de seu site em minutos
			    </h4>
			    <p>
				  	Ainda não tem sua <b><italic>empresa registrada</italic></b> na Internet como www.suaempresa.com.br? Está 
				  	perdendo um grande mercado. Aqui você não paga mais caro por isso. Registramos o seu domínio e 
				  	iniciamos sua hospedagam na hora. No mesmo dia você estará utilizando seus <b><italic>e-mails 
				  	profissionais</italic></b>. Você pagará apenas uma pequena taxa mensal de <b><italic>suporte</italic></b> e 
				  	mais nada. A <b><italic>Fbrandão</italic></b> possui um robusto Datacenter para hospedar seu projeto com 
				  	segurança e rapidez te dando toda assessoria. Nossa equipe dará todo o suporte necessário para 
				  	que tenha toda tranquilidade e pense somente em suas vendas.
			    </p>
		    	<img class="full-image" src="img/background_home_view_03.png">
	    	</div>  
		  </ion-content>
		</ion-view>
	</div>
	<div ng-show="mobiles">
		<ion-view view-title="{{servicoSelecionado.title}}" class="custom-bg-home-view-10">
		  <ion-content>
		  	 <div class="box">
			    <h4>
			    	Aqui seu projeto já sai com todos os <br/>melhores recursos exigidos pelo mundo WEB
			    </h4>
			    <p>
				  	Já ouviu falar que o Google já está dando prioridade na busca para <b><italic>Websites</italic></b> com 
				  	recursos <b><italic>Mobile</italic></b>? Aqui todos os nossos projetos, desde os mais simples, já saem com 
				  	este recurso. Seu <b><italic>Site</italic></b> vai abrir adaptado em um Smartphone como se fosse um Aplicativo 
				  	de verdade, com ícone e tudo. Além disso nossos projetos são construídos com as melhores ferramentas 
				  	que existem. Nossos códigos são limpos e leves. Nossa equipe é altamente especializada.
			    </p>
		    	<img class="full-image" src="img/image_home_view_04.png">
	    	</div>  
		  </ion-content>
		</ion-view>
	</div>
	<div ng-show="logos">
		<ion-view view-title="{{servicoSelecionado.title}}">
		  <ion-content>
		  	<div class="custom-div">
			    <h4>
			    	Já possui uma Marca moderna <br/>e uma Identidade Visual adequada?
			    </h4>
			    <p>
				  	Ha mais de 20 anos atuando na área de Design e Identidade Visual, e mais de <b><italic>1200 Marcas criadas</italic></b>, somos mais do que especializados neste tipo de projeto. Sua Marca ou Logo ou Logotipo, que são a mesma coisa, 
				  	será feita com um estudo detalhado por um profissional formado e especializado, em apenas alguns dias. Você receberá um questionário, onde poderá sugerir todas as suas necessidades e contar a história de seu negócio, 
				  	assim, iremos preprar uma Marca adequada e sua empresa, produto ou negócio, terá um visual moderno como o das grandes Marcas mundiais. Além de sua nova marca, criaremos um manual de aplicação e toda sua comunicação visual, harmonizando seu projeto adequadamente. Sua empresa irá se destacar com uma Marca de alta qualidade. Consulte-nos! Temos o menor custo do mercado com a qualidade que oferecemos.
			    </p>
		    	<img class="full-image" src="img/image_home_view_05.png">
	    	</div>  
		  </ion-content>
		</ion-view>
	</div>
	<div ng-show="designs">
		<ion-view view-title="{{servicoSelecionado.title}}" class="custom-bg-home-view-02">
		  <ion-content>
		  	<div class="box">
			    <h4>
			    	Criação de material gráfico
			    </h4>
			    <p>
				  	Além de projetos para WEB, somos especializados em <b><italic>Design Gráfico Edição e Retoque de imagens e Diagramação de publicações.</italic></b>
			  	</p>
			    <p>
			    	Desenvolvemos todo o material gráfico, institucional ou promocional como <b><italic>Folders, Embalagens, Flyers, Catálogos, Selos, Revistas e Jornais, Banners, e-Mailmarketing e artes gráficas</italic></b> em geral.
				</p>
			    <p>
			    	Todos os projetos são adequados para impressão gráfica ou digital. Temos parcerias com fornecedores para que sua impressão saia com o menor custo do mercado. Nossa meta é fazer você economizar.
			    </p>
		    	<img class="full-image" src="img/image_home_view_06.png">
	    	</div>  
		  </ion-content>
		</ion-view>
	</div>
	<div ng-show="assessorias">
		<ion-view view-title="{{servicoSelecionado.title}}" class="custom-bg-home-view-08">
		  <ion-content>
		  	<div class="custom-div">
			    <h4>
			    	Assessoria Especial e contrato fixo <br/>que só a Fbrandão pode te oferecer
			    </h4>
			    <p>
				  	Sua empresa tem muita demanda de arte? Precisa de uma Assessoria fixa? A <b><italic>Fbrandão</italic></b> possui o contrato fixo mais em conta do mercado. Pagando uma pequena taxa mensal, sua empresa terá uma Agência completa à disposição para desenvolver suas demandas em <b><italic>Marca, artes gráficas, peças publicitárias, fotos, marketing digital e redes sociais, fotografias, website, estratégias, comunicação, promoção</italic></b> e muito mais. Só a <b><italic>Fbrandão
				  	</italic></b> consegue oferecer um produto como este.
			    </p>
		    	<img class="full-image" src="img/image_home_view_08.png">
	    	</div>  
		  </ion-content>
		</ion-view>
	</div>
	<div ng-show="fotografias">
		<ion-view view-title="{{servicoSelecionado.title}}" class="custom-bg-home-view-02">
		  <ion-content>
		  	<div class="box">
			    <h4>
			    	Fotografia Express para sua empresa
			    </h4>
			    <p>
				  	Está precisando de boas fotografias de sua empresa, consultório, escritório, comércio, produto, indústria e não quer pagar caro por isso? Temos a solução ideal para você. Pelo menor custo do mercado, iremos até você e faremos suas imagens, especialmente para seu site, sem frescura, com baixo custo, rápido e fácil. Além de fotografias, lançamos o serviço de vídeo. Filmamos, editamos, inserimos locução, audio e entregamos seu vídeo institucional em poucos dias.
			    </p>
		    	<img class="full-image" src="img/image_home_view_09.png">
	    	</div>  
		  </ion-content>
		</ion-view>
	</div>
	<div ng-show="marketing">
		<ion-view view-title="{{servicoSelecionado.title}}" class="custom-bg-home-view-10">
		  <ion-content>
		  	<div class="box">
			    <h4>
			    	Marketing Digital | Social Media
			    </h4>
			    <p>
				  	Além de nossos produtos e serviços tradicionais, temos profissionais certificados para dar toda a assessoria para serviços complementares para que sua empresa seja encontrada da forma correta: Desenvolvimento de Conteúdo para seu Site, <b><italic>Cadastramento no Google, Assessoria no Google Analytics</italic></b>, Ajuste e Análise de SEO/Otimização de busca de seu site no Google com acompanhamento por 12 meses, Assessoria em Anúncios no <b><italic>Google Adwords e Facebook Ads</italic></b>, <b><italic>Criação de Fanpages</italic></b>, Assessoria de Likes e muito mais. Enfim, a <b><italic>Fbrandão
				  	</italic></b> é uma verdadeira <b><italic>Agência WEB</italic></b> pronta para atender toda a sua demanda de forma simples e direta. Não compre idéias de profissionais não qualificados. Peça mais informações.
			    </p>
		    	<img class="full-image" src="img/image_home_view_10.png">
	    	</div>  
		  </ion-content>
		</ion-view>
	</div>
	<div ng-show="videos">
		<ion-view view-title="{{servicoSelecionado.title}}" class="custom-bg-home-view-10">
		  <ion-content>
		  	<div class="box">
			    <h4>
			    	Alguns clientes com belos vídeos produzidos pela Fbrandão
			    </h4>
			    <p>
				  	
			    </p>
		    	<img class="full-image" src="img/image_home_view_10.png">
	    	</div>  
		  </ion-content>
		</ion-view>
	</div>
</div>
