<div>
	<ion-view view-title="Serviços" class="custom">
	  <ion-content>
	    <ion-list>
	      	<ion-item href="#/menu/servicos/sites" class="item item-icon-left item-icon-right">
	          <i class="icon ion-monitor"></i>
	          <ion-label>Sites</ion-label>
	          <i class="icon ion-ios-arrow-right"></i>
	        </ion-item>
	        <ion-item href="#/menu/servicos/hospedagem" class="item item-icon-left item-icon-right">
	          <i class="icon ion-android-cloud-outline"></i>
	          <ion-label>Hospedagem</ion-label>
	          <i class="icon ion-ios-arrow-right"></i>
	        </ion-item>		
	        <ion-item href="#/menu/servicos/mobile" class="item item-icon-left item-icon-right">
	          <i class="icon ion-ipad"></i>
	          <ion-label>Sites Mobile</ion-label>
	          <i class="icon ion-ios-arrow-right"></i>
	        </ion-item>		
	        <ion-item href="#/menu/servicos/logos" class="item item-icon-left item-icon-right">
	          <i class="icon ion-social-sass"></i>
	          <ion-label>Logos</ion-label>
	          <i class="icon ion-ios-arrow-right"></i>
	        </ion-item>		
	        <ion-item href="#/menu/servicos/design" class="item item-icon-left item-icon-right">
	          <i class="icon ion-paintbrush"></i>
	          <ion-label>Design Gráfico</ion-label>
	          <i class="icon ion-ios-arrow-right"></i>
	        </ion-item>		
	        <ion-item href="#/menu/servicos/assessoria" class="item item-icon-left item-icon-right">
	          <i class="icon ion-person-stalker"></i>
	          <ion-label>Assessoria Mensal</ion-label>
	          <i class="icon ion-ios-arrow-right"></i>
	        </ion-item>		
	        <ion-item href="#/menu/servicos/fotografias" class="item item-icon-left item-icon-right">
	          <i class="icon ion-camera"></i>
	          <ion-label>Fotografias</ion-label>
	          <i class="icon ion-ios-arrow-right"></i>
	        </ion-item>		
	        <ion-item href="#/menu/servicos/marketing" class="item item-icon-left item-icon-right">
	          <i class="icon ion-social-google-outline"></i>
	          <ion-label>Marketing Digital</ion-label>
	          <i class="icon ion-ios-arrow-right"></i>
	        </ion-item>		
	        <ion-item href="#/menu/servicos/videos" class="item item-icon-left item-icon-right">
	          <i class="icon ion-videocamera"></i>
	          <ion-label>Produção de Vídeos</ion-label>
	          <i class="icon ion-ios-arrow-right"></i>
	        </ion-item>		
	    </ion-list>
	  </ion-content>
	</ion-view>
</div>
