<ion-view view-title="AFbrandão" ng-app="module_sobre">
  <ion-content class="custom-bg-sobre">
	    <h4>
	    	FBrandão uma Agência WEB de verdade!
	    </h4>
	    <ion-scroll scrollY="true">
		    <p>
				Com mais de 20 anos atuando na área de Design, Comunicação e Web, com sede própria no coração comercial de Vitória, Reta da Penha, a Fbrandão se reinventa a cada ano e traz para o mercado uma proposta inovadora a partir de 2015. Nos orgulhamos de ter em nosso portfólio mais de 2000 clientes atendidos no Espírito Santo, em outros estados do Brasil e até mesmo no Exterior.<br /><br />

				Hoje, com uma equipe altamente especializada, a Fbrandão vem ao longo dos anos, crescendo com os pés no chão. Os profissionais são constantemente reciclados em cursos de especializações. Somos uma agência certificada para marketing digital. Além disso, a Fbrandão conta com profissional com formação superior em Marketing e com mais de 20 anos de experiência na área da Comunicação.<br /><br />

				Trabalhamos com o que há de mais moderno e intuitivo no mercado. Nossos projetos de sites são desenvolvidos em formato leve, atrativo e intuitivo, com os melhores recursos técnicos e visuais e com tecnologia de fácil uso e buscado pelo Google, versões com acesso à Smatphones e Tablets com Design Responsivo. Além de projetos de social media e hospedagem, a Fbrandão ainda traz uma infinidade de produtos de comunicação visual: <strong>Uma nova Logo com uma visão moderna de acordo com o mercado atual, Folders, Catálogos, Impressos em Geral, Anúncios, Fotografias, Selos Comemorativos, Contratos de Assessoria, Acompanhamento das Mídias Sociais(Social Media), Desenvolvimento de Conteúdo entre muitos outros.</strong><br /><br />

				Estamos prontos para atender toda sua demanda, com custo reduzido e forma simplificada. Fuja dos aventureiros. Corra das firulas ou ideias mirabolantes. Venha para a Fbrandão e descubra uma forma simples de trabalhar e as vantagens de se comunicar com uma empresa de verdade, investindo pouco e obtendo resultados.				
		    </p>
	    </ion-scroll>
	    <ion-gallery ion-gallery-items="items"></ion-gallery>
  </ion-content>
</ion-view>
