<ion-view view-title="Assessoria Mensal" class="custom-background">
  <ion-content>
  	<div>
	    <h4>
	    	Assessoria Especial e contrato fixo <br/>que só a Fbrandão pode te oferecer
	    </h4>
	    <p>
		  	Sua empresa tem muita demanda de arte? Precisa de uma Assessoria fixa? A <b><italic>Fbrandão</italic></b> possui o contrato fixo mais em conta do mercado. Pagando uma pequena taxa mensal, sua empresa terá uma Agência completa à disposição para desenvolver suas demandas em <b><italic>Marca, artes gráficas, peças publicitárias, fotos, marketing digital e redes sociais, fotografias, website, estratégias, comunicação, promoção</italic></b> e muito mais. Só a <b><italic>Fbrandão
		  	</italic></b> consegue oferecer um produto como este.
	    </p>
    	<img class="full-image" src="img/image_home_view_08.png">
	</div>  
  </ion-content>
</ion-view>