<ion-view view-title="Design Gráfico" class="custom-background">
  <ion-content>
  	<div>
	    <h4>
	    	Criação de material gráfico
	    </h4>
	    <p>
		  	Além de projetos para WEB, somos especializados em <b><italic>Design Gráfico Edição e Retoque de imagens e Diagramação de publicações.
		  	</italic></b><br/><br/>
	  	
	    	Desenvolvemos todo o material gráfico, institucional ou promocional como <b><italic>Folders, Embalagens, Flyers, Catálogos, Selos, Revistas e Jornais, Banners, e-Mailmarketing e artes gráficas</italic></b> em geral.<br/><br/>
		
	    	Todos os projetos são adequados para impressão gráfica ou digital. Temos parcerias com fornecedores para que sua impressão saia com o menor custo do mercado. Nossa meta é fazer você economizar.
	    </p>
    	<img class="full-image" src="img/image_home_view_06.png">
	</div>  
  </ion-content>
</ion-view>