<ion-view view-title="Fotografias" class="custom-background">
  <ion-content>
  	<div>
	    <h4>
	    	Fotografia Express para sua empresa
	    </h4>
	    <p>
		  	Está precisando de boas fotografias de sua empresa, consultório, escritório, comércio, produto, indústria e não quer pagar caro por isso? Temos a solução ideal para você. Pelo menor custo do mercado, iremos até você e faremos suas imagens, especialmente para seu site, sem frescura, com baixo custo, rápido e fácil. Além de fotografias, lançamos o serviço de vídeo. Filmamos, editamos, inserimos locução, audio e entregamos seu vídeo institucional em poucos dias.
	    </p>
    	<img class="full-image" src="img/image_home_view_09.png">
	</div>  
  </ion-content>
</ion-view>