<ion-view view-title="Hospedagem" class="custom-background">
  <ion-content>
  	<div>
	    <h4>
	    	Registro do domínio <br/>e hospedagem de seu site em minutos
	    </h4>
	    <p>
		  	Ainda não tem sua <b><italic>empresa registrada</italic></b> na Internet como www.suaempresa.com.br? Está 
		  	perdendo um grande mercado. Aqui você não paga mais caro por isso. Registramos o seu domínio e 
		  	iniciamos sua hospedagam na hora. No mesmo dia você estará utilizando seus <b><italic>e-mails 
		  	profissionais</italic></b>. Você pagará apenas uma pequena taxa mensal de <b><italic>suporte</italic></b> e 
		  	mais nada. A <b><italic>Fbrandão</italic></b> possui um robusto Datacenter para hospedar seu projeto com 
		  	segurança e rapidez te dando toda assessoria. Nossa equipe dará todo o suporte necessário para 
		  	que tenha toda tranquilidade e pense somente em suas vendas.
	    </p>
    	<img class="full-image" src="img/background_home_view_03.png">
	</div>  
  </ion-content>
</ion-view>