<ion-view view-title="Logos" class="custom-background">
  <ion-content>
  	<div>
	    <h4>
	    	Já possui uma Marca moderna <br/>e uma Identidade Visual adequada?
	    </h4>
	    <p>
		  	Ha mais de 20 anos atuando na área de Design e Identidade Visual, e mais de <b><italic>1200 Marcas criadas</italic></b>, somos mais do que especializados neste tipo de projeto. Sua Marca ou Logo ou Logotipo, que são a mesma coisa, 
		  	será feita com um estudo detalhado por um profissional formado e especializado, em apenas alguns dias. Você receberá um questionário, onde poderá sugerir todas as suas necessidades e contar a história de seu negócio, 
		  	assim, iremos preprar uma Marca adequada e sua empresa, produto ou negócio, terá um visual moderno como o das grandes Marcas mundiais. Além de sua nova marca, criaremos um manual de aplicação e toda sua comunicação visual, harmonizando seu projeto adequadamente. Sua empresa irá se destacar com uma Marca de alta qualidade. Consulte-nos! Temos o menor custo do mercado com a qualidade que oferecemos.
	    </p>
    	<img class="full-image" src="img/image_home_view_05.png">
	</div>  
  </ion-content>
</ion-view>