<ion-view view-title="Marketing Digital" class="custom-background">
  <ion-content>
  	<div>
	    <h4>
	    	Marketing Digital | Social Media
	    </h4>
	    <p>
		  	Além de nossos produtos e serviços tradicionais, temos profissionais certificados para dar toda a assessoria para serviços complementares para que sua empresa seja encontrada da forma correta: Desenvolvimento de Conteúdo para seu Site, <b><italic>Cadastramento no Google, Assessoria no Google Analytics</italic></b>, Ajuste e Análise de SEO/Otimização de busca de seu site no Google com acompanhamento por 12 meses, Assessoria em Anúncios no <b><italic>Google Adwords e Facebook Ads</italic></b>, <b><italic>Criação de Fanpages</italic></b>, Assessoria de Likes e muito mais. Enfim, a <b><italic>Fbrandão
		  	</italic></b> é uma verdadeira <b><italic>Agência WEB</italic></b> pronta para atender toda a sua demanda de forma simples e direta. Não compre idéias de profissionais não qualificados. Peça mais informações.
	    </p>
    	<img class="full-image" src="img/image_home_view_10.png">
	</div>  
  </ion-content>
</ion-view>