<ion-view view-title="Produção de Vídeos" class="custom-background">
  <ion-content>
  	<div>
	    <h4>
	    	Alguns clientes com belos vídeos produzidos pela Fbrandão
	    </h4>
	    <ion-list >
	        <div class="card">
	            <ion-item>
	                <div class="video-container">
	                    <iframe width="854" height="480" src="https://www.youtube.com/embed/s9J0fCFdpU8" frameborder="0" allowfullscreen></iframe>
	                </div>
	            </ion-item>
	        </div>
	        <div class="card">
	            <ion-item>
	                <div class="video-container">
	                    <iframe width="854" height="480" src="https://www.youtube.com/embed/HhBh43rn-zk" frameborder="0" allowfullscreen></iframe>
	                </div>
	            </ion-item>
	        </div>
	        <div class="card">
	            <ion-item>
	                <div class="video-container">
	                    <iframe width="854" height="480" src="https://www.youtube.com/embed/AE4TNdLv9go" frameborder="0" allowfullscreen></iframe>
	                </div>
	            </ion-item>
	        </div>
	        <div class="card">
	            <ion-item>
	                <div class="video-container">
	                    <iframe width="854" height="480" src="https://www.youtube.com/embed/YuNFDFiCWrY" frameborder="0" allowfullscreen></iframe>
	                </div>
	            </ion-item>
	        </div>
	    </ion-list>		    	
	</div>  
  </ion-content>
</ion-view>