<ion-view view-title="Sites" class="custom-background">
  <ion-content>
    <div>
	    <h4>
	    	Website e e-Commerce Mobile
	    </h4>
	    <p>
		  	Você não possui um <b><italic>Website</italic></b> ou está desatualizado, antigo e sem recursos
		    <b><italic>Mobile</italic></b> para celular? Aqui na <b>Fbrandão</b> todos os nossos projetos
		    já saem com os melhores recursos que existem. Desenvolvemos em sistema limpo,
		    programação de TAGs para que seja achado pelo Google, recursos Mobile/Responsivo para que seja
		    aberto como um aplicativo em um Smartphone e muito mais. Temos o produto ideal para você.
		    Ajustaremos o orçamento de acordo com suas necessidades. Nosso <b><italic>e-Commerce</italic></b> ou
		    <b><italic>Loja Virtual</italic></b> é o mais completo do mercado, com o melhor custo. Sua loja é entregue
		    com 3 formas de pagamento, integração com os Correios, Layout Mobile, e muitos outros recursos
		    só encontrados em grandes Lojas. E ainda, temos um novo e incrível produto, o <b><italic>Landing Site
		    Fbrandão</italic></b>. Um  Projeto que criamos exclusivamente para atender um mercado especial, de
		    custo reduzido, baixo investimento e rápida entrega. Apenas 5 dias! Consulte nossos consultores
		    no Chat!
	    </p>
	    <img class="full-image" src="img/image_home_view_02.png">
	</div>
  </ion-content>
</ion-view>