<ion-view view-title="Sites Mobile" class="custom-background">
  <ion-content>
  	 <div>
	    <h4>
	    	Aqui seu projeto já sai com todos os <br/>melhores recursos exigidos pelo mundo WEB
	    </h4>
	    <p>
		  	Já ouviu falar que o Google já está dando prioridade na busca para <b><italic>Websites</italic></b> com 
		  	recursos <b><italic>Mobile</italic></b>? Aqui todos os nossos projetos, desde os mais simples, já saem com 
		  	este recurso. Seu <b><italic>Site</italic></b> vai abrir adaptado em um Smartphone como se fosse um Aplicativo 
		  	de verdade, com ícone e tudo. Além disso nossos projetos são construídos com as melhores ferramentas 
		  	que existem. Nossos códigos são limpos e leves. Nossa equipe é altamente especializada.
	    </p>
    	<img class="full-image" src="img/image_home_view_04.png">
	</div>  
  </ion-content>
</ion-view>