/* all */
@font-face {
    font-family: 'customFont';
    src: url('../lib/ionic/fonts/custom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h4 {
	text-align: center;
	color: white;
	padding-top: 4%;
	/*padding: 8%;*/
}

p {
	padding: 8%;
	padding-top: 3%;
}

.custom {
  background-color: #6f0909 !important; 
  color: white;
 }

.custom-header-bar-nav-bar ion-header-bar {
	background-color: #6f0909 !important; 
	color: white;
	border-bottom: none;
	border-color: transparent;
  	border-style: none;	  
}

.custom-header-bar-nav-bar ion-view {
	background-color: #6f0909; 
	border-bottom: none;
	border-color: transparent;
  	border-style: none;	  
}

.custom ion-content {
	padding-top: 7%;
}

.custom-div {
	color: gray;
}

.custom-div h4 {
	color: gray;
	padding: 10px;
}

.custom .item {
  background-color: transparent;
  border:none;
  color: white;
  border-color: transparent;
  border-style: none; 
  font-family: customFont;       
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

.custom-header-bar-nav-bar button {
  background-color: transparent;
  border:none;
  color: white !important;        
}

.bar-custom h1.title{
  color:#fff !important;
}

.custom-background {
	background-image: url(../img/background.jpg);
	color: white;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.custom input {
	margin-left: 4%; 
	width: 92%;
}

/*.angular-google-map-container { 
  height: 100%; 
}*/

/*
.custom ion-header-bar {
	background: #6f0909; /* For browsers that do not support gradients 
	background: -webkit-linear-gradient(left top, #6f0909, #db460e); /* For Safari 5.1 to 6.0 
	background: -o-linear-gradient(bottom right, #6f0909, #db460e); /* For Opera 11.1 to 12.0 
	background: -moz-linear-gradient(bottom right, #6f0909, #db460e); /* For Firefox 3.6 to 15 
	background: linear-gradient(to bottom right, #6f0909, #db460e); /* Standard syntax 
	border-bottom: none;
	border-color: transparent;
  	border-style: none;
	height: 105px;  
}
*/
/* Menu */
.custom img.center {
	display: block;
	margin: 0 auto;
	height: 95px;
	border-color: transparent;
  	border-style: none;
}


/*splash*/
.custom-splash {
	background-image: url(../img/background.jpg);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.custom-splash ion-content {
	padding-top: 50%;
	border-top: none;
	border-color: transparent;
    border-style: none;
}

.custom-splash img.center {
	display: block;
	margin: 0 auto;
	height: 165px;
	z-index: -1;
}

/*.custom-splash ion-header-bar{
	background-color: transparent;
	border: none;	
	border-top: none;
	border-bottom: none;
	padding-top: 25%;
	border-color: transparent;
    border-style: none;
}

.custom-splash button {
  background-color: #6f0909;
  color: white !important;
  border-color: transparent;
  border-style: none;        
}

.custom-splash span {
	color: white;
}

.custom-splash input {
	color: white;
	font-size: 18px;
}

.custom-splash .item {
  background-color: transparent;
  border:none;
  color: white;        
}

.custom-splash .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}*/

/* Home */
.custom-background-home {
	background-image: url(../img/background_home.jpg);
	color: white;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.image-home-view-11 {
	width: 48px;
	height: 68px !important;
}

/* Sobre */
.custom-bg-sobre {
  	background-image: url(../img/background.jpg);
	color: white;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 8%;
}

.custom-bg-sobre h4{
	padding: 0%;
}

.custom-bg-sobre ion-scroll {
	height: 250px;
}

.custom-bg-sobre ion-gallery {
	background-color: #6f0909 !important; 
  	color: white;
}

/* Orçamentos */

.custom-form-btn button {
  background-color: #6f0909;
  color: white !important;        
}

.custom-orcamento{
	padding: 6%;
}

.custom-orcamento h4 {
	padding-top: 0%;
}

.custom-btn-orcamento {
    display: block;
	margin: 0 auto;
	width: 337px !important;
    height: 50px;
	z-index: 1;
    background-color: #6f0909 !important;
    border-color: transparent;
    border-style: none;
}

/* Opiniões Clientes */
.custom-opinioes img {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

#map {
    width:98%;
    height:400px;
    margin:10px auto;
    box-shadow:0 3px 25px black;
    position: relative;
}

/*.scroll {
  height: 100%;
}*/

.angular-google-map-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.custom-bg-contatos {
  	background-image: url(../img/background_contatos.png);
  	background-color: #4479ab;
	color: white;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 390px;
    padding: 8%;
}

.custom-bg-contatos p {
	padding: 0%;
	padding-top: 5%;
	text-align: left;
}

.custom-bg-home-view-11 {
  	background-image: url(../img/background_contatos.png);
  	background-color: #6f0909;
	color: white;
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 8%;
}

.custom-bg-home-view-11 h4 {
	/*padding-top: 0%;*/
	text-align: left;
}

.custom-bg-home-view-11 p {
	/*padding: 0%;*/
	text-align: left;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #6f0909;
    border-color: #ccc;
}

/* 
	
	ionic plugin add cordova-plugin-googlemaps --variable API_KEY_FOR_ANDROID="AIzaSyBZX9y8Dqfiy9YkeGh3HUJ24RAiGWuMqgw" --variable API_KEY_FOR_IOS="AIzaSyCIXqQzMeUWeOFzPY4SEFhPfiiRd_6jpC8"
	ionic plugin add cordova-plugin-googlemaps --variable API_KEY_FOR_ANDROID="YOUR_ANDROID_API_KEY_IS_HERE" --variable API_KEY_FOR_IOS="YOUR_IOS_API_KEY_IS_HERE"

*/